.navigation {
    background-color: $color-primary-0;
    height: 50px;
    nav {
        a {
            color: white;
            text-decoration: none;
        }
    }
    // Vars

    // Support

    // Module
    & {
        //
    }

    // Facets

    // States
}
