// As hex codes */
$color-primary-0: #66852A;	// Main Primary color */
$color-primary-1: #91A66A;
$color-primary-2: #7A9547;
$color-primary-3: #48680A;
$color-primary-4: #3E5F00;

$color-complement-0: #742450;	// Main Complement color */
$color-complement-1: #905C79;
$color-complement-2: #813E63;
$color-complement-3: #5B0835;
$color-complement-4: #53002D;



// As RGBa codes */

$rgba-primary-0: rgba(102,133, 42,1);	// Main Primary color */
$rgba-primary-1: rgba(145,166,106,1);
$rgba-primary-2: rgba(122,149, 71,1);
$rgba-primary-3: rgba( 72,104, 10,1);
$rgba-primary-4: rgba( 62, 95,  0,1);

$rgba-complement-0: rgba(116, 36, 80,1);	// Main Complement color */
$rgba-complement-1: rgba(144, 92,121,1);
$rgba-complement-2: rgba(129, 62, 99,1);
$rgba-complement-3: rgba( 91,  8, 53,1);
$rgba-complement-4: rgba( 83,  0, 45,1);

// ovverrides
$primary: $color-primary-0;